.businessContainer {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "businessMenu businessMenu businessMenu businessMenu businessMenu"
    "businessHeader businessHeader businessHeader businessHeader businessHeader"
    "article-0 article-1 article-2 article-3 article-4"
    "article-5 article-6 article-7 article-8 article-9"
    "divider1 divider1 divider1 divider1 divider1"
    "article-10 article-11 article-12 article-13 article-14"
    "article-15 article-16 article-17 article-18 article-19"
    "dividerTwo dividerTwo dividerTwo dividerTwo dividerTwo"
    "article-20 article-21 article-22 article-23 article-24"
    "article-25 article-26 article-27 article-28 article-29"
    "businessFooter businessFooter businessFooter businessFooter businessFooter";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10vh 60vh 47vh 47vh 15vh 47vh 47vh 15vh 47vh 47vh 20vh;
}

.businessContainer > div {
  margin: 0.5rem;
  background: #fff;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.5vmin solid #05060f;
  box-shadow: 0.4rem 0.4rem #05060f;
  overflow: hidden;
  color: black;
}

#businessHeaderCard {
  margin: 1.5rem;
  background: #009fff;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.5vmin solid #05060f;
  box-shadow: 0.4rem 0.4rem #05060f;
  overflow: hidden;
  color: white;
}

#businessHeaderImage {
  border-radius: 1rem;
  border: 0.5vmin solid #05060f;
  box-shadow: 0.4rem 0.4rem #05060f;
  overflow: hidden;
}

.businessMenu {
  grid-area: businessMenu;
}

.businessHeader {
  grid-area: businessHeader;
  grid-template-columns: 1fr 1fr;
  display: grid;
  align-items: center; /* Vertically center align items */
}

.article-0 {
  grid-area: article-0;
}

.article-1 {
  grid-area: article-1;
}

.article-2 {
  grid-area: article-2;
}

.article-3 {
  grid-area: article-3;
}

.article-4 {
  grid-area: article-4;
}

.article-5 {
  grid-area: article-5;
}

.article-6 {
  grid-area: article-6;
}

.article-7 {
  grid-area: article-7;
}

.article-8 {
  grid-area: article-8;
}

.article-9 {
  grid-area: article-9;
}

.article-10 {
  grid-area: article-10;
}

.article-11 {
  grid-area: article-11;
}

.article-12 {
  grid-area: article-12;
}

.article-13 {
  grid-area: article-13;
}

.article-14 {
  grid-area: article-14;
}

.article-15 {
  grid-area: article-15;
}

.article-16 {
  grid-area: article-16;
}

.article-17 {
  grid-area: article-17;
}

.article-18 {
  grid-area: article-18;
}

.article-19 {
  grid-area: article-19;
}

.article-20 {
  grid-area: article-20;
}

.article-21 {
  grid-area: article-21;
}

.article-22 {
  grid-area: article-22;
}

.article-23 {
  grid-area: article-23;
}

.article-24 {
  grid-area: article-24;
}

.article-25 {
  grid-area: article-25;
}

.article-26 {
  grid-area: article-26;
}

.article-27 {
  grid-area: article-27;
}

.article-28 {
  grid-area: article-28;
}

.article-29 {
  grid-area: article-29;
}

.divider1-business {
  grid-area: divider1;
  background-color: #3f6998 !important;
}

.divider2-business {
  grid-area: dividerTwo;
  background-color: #3f6998 !important;
}

.businessFooter {
  grid-area: businessFooter;
  background-color: #48c78e !important;

}

.businessProjectCard {
  transition: transform 0.2s ease;
  display: flex;
}

.businessProjectCard:hover {
  transform: scale(1.02); /* Enlarge the item by 10% on hover */
}

@media (max-width: 768px) {
  .businessContainer {
    grid-template-areas:
      "businessMenu"
      "businessHeader"
      "article-0"
      "article-1"
      "article-2"
      "article-3"
      "article-4"
      "article-5"
      "article-6"
      "article-7"
      "article-8"
      "article-9"
      "divider1"
      "article-10"
      "article-11"
      "article-12"
      "article-13"
      "article-14"
      "article-15"
      "article-16"
      "article-17"
      "article-18"
      "article-19"
      "dividerTwo"
      "article-20"
      "article-21"
      "article-22"
      "article-23"
      "article-24"
      "article-25"
      "article-26"
      "article-27"
      "article-28"
      "article-29"
      "businessFooter";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .businessContainer > div {
    margin: 0.5rem;
    padding: 0.8rem; /* Adjust padding for smaller screens */
  }

  #businessHeaderCard {
    margin: 1rem;
    padding: 0.8rem; /* Adjust padding for smaller devices */
  }

  .divider1-business, .divider2-business {
    height: 2rem; /* Adjust divider height */
  }

  .businessProjectCard {
    font-size: 0.9rem; /* Slightly reduce font size for readability */
    flex-direction: column; /* Stack elements vertically in project cards */
  }

  #businessHeaderImage {
    display: none;
  }

  .businessHeader {
    grid-template-columns: 1fr;
    display: grid;
  }

  .subtitle{
    display: none
  }
}
