.column {
  box-sizing: border-box;
  margin: 0.5rem;
  border-radius: 1rem;
  border: 0.5vmin solid #05060f;
  overflow: hidden;
  background-color: #48c78e;
}

.columns {
  background-color: #48c78e;
}
