.blogContainer {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "blogMenu blogMenu blogMenu blogMenu"
    "blogHeader blogHeader blogHeader blogHeader"
    "blogHeader blogHeader blogHeader blogHeader"
    "blogHeader blogHeader blogHeader blogHeader"
    "blogSearchBar blogSearchBar blogSearchBar blogSearchBar"
    "a-BrQv3-3-1-0-1 a-BrQv3-3-1-0-1 blogPost1 blogPost1"
    "a-BrQv3-3-1-0-1 a-BrQv3-3-1-0-1 blogPost2 blogPost2"
    "a-BrQv3-3-1-0-1 a-BrQv3-3-1-0-1 blogPost3 blogPost3"
    "a-BrQv3-3-1-0-1 a-BrQv3-3-1-0-1 blogPost4 blogPost4"
    "a-BrQv3-3-1-0-1 a-BrQv3-3-1-0-1 blogPost5 blogPost5"
    "a-BrQv3-3-1-0-1 a-BrQv3-3-1-0-1 blogPost6 blogPost6"
    "a-BrQv3-3-1-0-1 a-BrQv3-3-1-0-1 blogPost7 blogPost7"
    "blogCardDivider blogCardDivider blogCardDivider blogCardDivider"
    "blogItem1 blogItem2 blogItem3 blogItem4"
    "blogLinks blogLinks blogLinks blogLinks"
    "blogFooter blogFooter blogFooter blogFooter";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 10vh 20vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 15vh 20vh 15vh 20vh;
}
.blogContainer > div {
  margin: 0.5rem;
  background: #fff;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.5vmin solid #05060f;
  box-shadow: 0.4rem 0.4rem #05060f;
  overflow: hidden;
  color: black;
}

.blogMenu {
  grid-area: blogMenu;
}
.blogHeader {
  grid-area: blogHeader;
}
.blogSearchBar {
  grid-area: blogSearchBar;
}
.a-BrQv3-3-1-0-1 {
  grid-area: a-BrQv3-3-1-0-1;
}
.blogPost1 {
  grid-area: blogPost1;
}
.blogPost2 {
  grid-area: blogPost2;
}
.blogPost3 {
  grid-area: blogPost3;
}
.blogPost4 {
  grid-area: blogPost4;
}
.blogPost5 {
  grid-area: blogPost5;
}
.blogPost6 {
  grid-area: blogPost6;
}
.blogPost7 {
  grid-area: blogPost7;
}
.blogCardDivider {
  grid-area: blogCardDivider;
}
.blogItem1 {
  grid-area: blogItem1;
}
.blogItem2 {
  grid-area: blogItem2;
}
.blogItem3 {
  grid-area: blogItem3;
}
.blogItem4 {
  grid-area: blogItem4;
}
.blogLinks {
  grid-area: blogLinks;
}
.blogFooter {
  grid-area: blogFooter;
}
