.conferencesProjectsContainer {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "conferencesMenu conferencesMenu conferencesMenu conferencesMenu conferencesMenu"
    "conferencesHeader conferencesHeader conferencesHeader conferencesHeader conferencesHeader"
    "conferencesProject-1 conferencesProject-2 conferencesProject-3 conferencesProject-4 conferencesProject-5"
    "conferencesProject-6 conferencesProject-7 conferencesProject-8 conferencesProject-9 conferencesProject-10"
    "divider1 divider1 divider1 divider1 divider1"
    "conferencesProject-11 conferencesProject-12 conferencesProject-13 conferencesProject-14 conferencesProject-15"
    "conferencesProject-16 conferencesProject-17 conferencesProject-18 conferencesProject-19 conferencesProject-20"
    "dividerTwo dividerTwo dividerTwo dividerTwo dividerTwo"
    "conferencesProject-21 conferencesProject-22 conferencesProject-23 conferencesProject-24 conferencesProject-25"
    "conferencesProject-26 conferencesProject-27 conferencesProject-28 conferencesProject-29 conferencesProject-30"
    "divider3 divider3 divider3 divider3 divider3";

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10vh 60vh 47vh 47vh 15vh 47vh 47vh 15vh 49vh 49vh 20vh;
}

.conferencesProjectsContainer > div {
  margin: 0.5rem;
  background: #fff;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.5vmin solid #05060f;
  box-shadow: 0.4rem 0.4rem #05060f;
  overflow: hidden;
  color: black;
}

#conferencesHeaderCard {
  margin: 1.5rem;
  background: #009fff;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.5vmin solid #05060f;
  box-shadow: 0.4rem 0.4rem #05060f;
  overflow: hidden;
  color: white;
}

#conferencesHeaderImage {
  border-radius: 1rem;
  border: 0.5vmin solid #05060f;
  box-shadow: 0.4rem 0.4rem #05060f;
  overflow: hidden;
}

.conferencesHeader {
  grid-template-columns: 1fr 1fr;
  display: grid;
}

.imgAcademia {
  -webkit-border-radius: 10px;
}

.conferencesMenu {
  grid-area: conferencesMenu;
}

.conferencesHeader {
  grid-area: conferencesHeader;
}

.conferencesProject-1 {
  grid-area: conferencesProject-1;
}

.conferencesProject-2 {
  grid-area: conferencesProject-2;
}

.conferencesProject-3 {
  grid-area: conferencesProject-3;
}

.conferencesProject-4 {
  grid-area: conferencesProject-4;
}

.conferencesProject-5 {
  grid-area: conferencesProject-5;
}

.conferencesProject-6 {
  grid-area: conferencesProject-6;
}

.conferencesProject-7 {
  grid-area: conferencesProject-7;
}

.conferencesProject-8 {
  grid-area: conferencesProject-8;
}

.conferencesProject-9 {
  grid-area: conferencesProject-9;
}

.conferencesProject-10 {
  grid-area: conferencesProject-10;
}

.conferencesProject-11 {
  grid-area: conferencesProject-11;
}

.conferencesProject-12 {
  grid-area: conferencesProject-12;
}

.conferencesProject-13 {
  grid-area: conferencesProject-13;
}

.conferencesProject-14 {
  grid-area: conferencesProject-14;
}

.conferencesProject-15 {
  grid-area: conferencesProject-15;
}

.conferencesProject-16 {
  grid-area: conferencesProject-16;
}

.conferencesProject-17 {
  grid-area: conferencesProject-17;
}

.conferencesProject-18 {
  grid-area: conferencesProject-18;
}

.conferencesProject-19 {
  grid-area: conferencesProject-19;
}

.conferencesProject-20 {
  grid-area: conferencesProject-20;
}

.divider1-conference {
  grid-area: divider1;
  background-color: #3f6998 !important;
}

.divider2-conference {
  grid-area: dividerTwo;
  background-color: #3f6998 !important;
}

.divider3-conference {
  grid-area: divider3;
  background-color: #48c78e !important;

}

.conferencesProject-21 {
  grid-area: conferencesProject-21;
}

.conferencesProject-22 {
  grid-area: conferencesProject-22;
}

.conferencesProject-23 {
  grid-area: conferencesProject-23;
}

.conferencesProject-24 {
  grid-area: conferencesProject-24;
}

.conferencesProject-25 {
  grid-area: conferencesProject-25;
}

.conferencesProject-26 {
  grid-area: conferencesProject-26;
}

.conferencesProject-27 {
  grid-area: conferencesProject-27;
}

.conferencesProject-28 {
  grid-area: conferencesProject-28;
}

.conferencesProject-29 {
  grid-area: conferencesProject-29;
}

.conferencesProject-30 {
  grid-area: conferencesProject-30;
}

#conferencesHeaderImage img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.conferencesHeader {
  align-items: center; /* Vertically center align items */
}

@media (max-width: 768px) {
  .conferencesProjectsContainer {
    grid-template-areas:
      "conferencesMenu"
      "conferencesHeader"
      "conferencesProject-1"
      "conferencesProject-2"
      "conferencesProject-3"
      "conferencesProject-4"
      "conferencesProject-5"
      "conferencesProject-6"
      "conferencesProject-7"
      "conferencesProject-8"
      "conferencesProject-9"
      "conferencesProject-10"
      "divider1"
      "conferencesProject-11"
      "conferencesProject-12"
      "conferencesProject-13"
      "conferencesProject-14"
      "conferencesProject-15"
      "conferencesProject-16"
      "conferencesProject-17"
      "conferencesProject-18"
      "conferencesProject-19"
      "conferencesProject-20"
      "dividerTwo"
      "conferencesProject-21"
      "conferencesProject-22"
      "conferencesProject-23"
      "conferencesProject-24"
      "conferencesProject-25"
      "conferencesProject-26"
      "conferencesProject-27"
      "conferencesProject-28"
      "conferencesProject-29"
      "conferencesProject-30"
      "divider3";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .conferencesProjectsContainer > div {
    margin: 0.5rem;
    padding: 0.8rem; /* Adjust padding for smaller screens */
  }

  #conferencesHeaderCard {
    margin: 1rem;
    padding: 0.8rem; /* Adjust padding for smaller devices */
  }

  .divider1-conference, .divider2-conference, .divider3-conference {
    height: 2rem; /* Adjust divider height */
  }

  .conferencesProjectCard {
    font-size: 0.9rem; /* Slightly reduce font size for readability */
  }

  #conferencesHeaderImage {
    display: none;
  }

  .conferencesHeader {
    grid-template-columns: 1fr;
    display: grid;
  }

  .subtitle{
    display: none
  }
}
