.teachingStatementContainer {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "teachingStatementPortfolioMenu teachingStatementPortfolioMenu teachingStatementPortfolioMenu teachingStatementPortfolioMenu teachingStatementPortfolioMenu"
    "teachingStatementPortfolioHeader teachingStatementPortfolioHeader teachingStatementPortfolioHeader teachingStatementPortfolioHeader teachingStatementPortfolioHeader"
    "teachingStatementPortfolioHeader2 teachingStatementPortfolioHeader3 teachingStatementPortfolioHeader4 teachingStatementPortfolioHeader5 teachingStatementPortfolioHeader5"
    "teachingStatementProject-1 teachingStatementProject-2 teachingStatementProject-3 teachingStatementProject-4 teachingStatementProject-5"
    "teachingStatementProject-6 teachingStatementProject-7 teachingStatementProject-8 teachingStatementProject-9 teachingStatementProject-10"
    "dividerOne dividerOne dividerOne dividerOne dividerOne"
    "teachingStatementProject-11 teachingStatementProject-12 teachingStatementProject-13 teachingStatementProject-14 teachingStatementProject-15"
    "teachingStatementProject-16 teachingStatementProject-17 teachingStatementProject-18 teachingStatementProject-19 teachingStatementProject-20"
    "divider2 divider2 divider2 divider2 divider2";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10vh 60vh 60vh 48vh 48vh 15vh 48vh 48vh 20vh;
}

.teachingStatementContainer > div {
  margin: 0.5rem;
  background: #fff;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.5vmin solid #05060f;
  box-shadow: 0.4rem 0.4rem #05060f;
  overflow: hidden;
  color: black;
}

.imgteachingStatement {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
}

.teachingStatementPortfolioHeader {
  grid-template-columns: 1fr 1fr;
  display: grid;
  align-items: center; /* Vertically center align items */
}

.teachingStatementPortfolioMenu {
  grid-area: teachingStatementPortfolioMenu;
}

.teachingStatementPortfolioHeader {
  grid-area: teachingStatementPortfolioHeader;
}

.teachingStatementPortfolioHeader2 {
  grid-area: teachingStatementPortfolioHeader2;
}

.teachingStatementPortfolioHeader3 {
  grid-area: teachingStatementPortfolioHeader3;
}

.teachingStatementPortfolioHeader4 {
  grid-area: teachingStatementPortfolioHeader4;
}

.teachingStatementPortfolioHeader5 {
  grid-area: teachingStatementPortfolioHeader5;
}

.teachingStatementProject-1 {
  grid-area: teachingStatementProject-1;
}
.teachingStatementProject-2 {
  grid-area: teachingStatementProject-2;
}
.teachingStatementProject-3 {
  grid-area: teachingStatementProject-3;
}
.teachingStatementProject-4 {
  grid-area: teachingStatementProject-4;
}
.teachingStatementProject-5 {
  grid-area: teachingStatementProject-5;
}
.teachingStatementProject-6 {
  grid-area: teachingStatementProject-6;
}
.teachingStatementProject-7 {
  grid-area: teachingStatementProject-7;
}
.teachingStatementProject-8 {
  grid-area: teachingStatementProject-8;
}
.teachingStatementProject-9 {
  grid-area: teachingStatementProject-9;
}
.teachingStatementProject-10 {
  grid-area: teachingStatementProject-10;
}
.teachingStatementProject-11 {
  grid-area: teachingStatementProject-11;
}
.teachingStatementProject-12 {
  grid-area: teachingStatementProject-12;
}
.teachingStatementProject-13 {
  grid-area: teachingStatementProject-13;
}
.teachingStatementProject-14 {
  grid-area: teachingStatementProject-14;
}
.teachingStatementProject-15 {
  grid-area: teachingStatementProject-15;
}
.teachingStatementProject-16 {
  grid-area: teachingStatementProject-16;
}
.teachingStatementProject-17 {
  grid-area: teachingStatementProject-17;
}
.teachingStatementProject-18 {
  grid-area: teachingStatementProject-18;
}
.teachingStatementProject-19 {
  grid-area: teachingStatementProject-19;
}
.teachingStatementProject-20 {
  grid-area: teachingStatementProject-20;
}

.dividerOne {
  grid-area: dividerOne;
}
.divider2 {
  grid-area: divider2;
}

.teachingStatementProjectCard {
  transition: transform 0.2s ease;
}

.teachingStatementProjectCard:hover {
  transform: scale(1.02); /* Enlarge the item by 2% on hover */
}
